<div class="featured-product-card">
  <div class="product-image-wrapper">
    <img src="<%= image %>" alt="Thumbnail image of <%= title %>" class="product-image" />
  </div>
  <div class="product-info">
    <h3 class="label"><%= label %></h3>
    <h4 class="title"><%= title %></h4>
    <div class="cta-wrapper"><a href="<%= link %>" class="cta" aria-label="View configurations for <%= title %>">View configs <span class="icon icon--arrow-wide-right"></span></a></div>
  </div>
</div>