<div class="cmp-related-products">
  <div class="cmp-related-products__body">
    <div class="cmp-related-products__image cmp-image">
      <button class="cmp-related-products__preview-btn" data-a11y-dialog-show="product-preview-dialog" aria-label="Quick view <%= name %>">Quick view</button>
      <img class="cmp-image__image" src="<%= image %>" alt="<%= name %>" loading="lazy" />
      <% if (typeof imageHover !== 'undefined' && imageHover) { %>
        <img class="cmp-image__image--hover" src="<%= imageHover %>" alt="<%= name %>" aria-hidden="true" loading="lazy" />
      <% } %>
    </div>

    <div class="cmp-related-products__info">
      <h3 class="cmp-related-products__title">
        <a href="pdp.html"><%= name %></a>
      </h3>
    </div>

    <div class="cmp-product-card__rating_and_compare">
      <div class="cmp-product-card__rating">
        <div
        data-bv-show="inline_rating"
        data-bv-product-id="<%= bazaarvoiceProductId %>"
        data-bv-redirect-url="pdp.html#product-reviews"
      ></div>
      </div>
    </div>

    <div class="cmp-related-products__price-block">
      <div class="cmp-related-products__price"><% if (price) { %>$<% } %><%= price %></div>
     <% if (originalPrice || discount) { %>
     <div>
      <% if (originalPrice) { %>
        <span class="cmp-related-products__original-price">$<%= originalPrice %></span>
      <% } %>
      <% if (discount) { %>
        <span class="cmp-related-products__discount">SAVE $<%= discount %></span>
      <% } %>
     </div>
     <% } %>
    </div>
  </div>

  <div class="cmp-related-products__footer">
    <div class="cmp-related-products__footer__actions">
      <button role="button" class="cmp-button cmp-related-products__buy-button btn" aria-label="<%= cta %>"><%= cta %></button> <button role="button" class="save-icon" aria-label="save-product"><img src="./clientlib-site/images/save-icon.svg" alt="save-product"></button>
    </div>
    <div>
      <button  role="button" class="cmp-button cmp-related-products__buy-button btn learn-more" aria-label="learn-more">Learn more</button>
    </div>
  </div>
</div>