<div class="cmp-bundles-card<%= index === 0 ? ' bonus-out-of-stock' : '' %>">
  <% if (typeof showCheckmark !== 'undefined' && showCheckmark) { %>
    <div class="checkmark-indicator">
      <span class="checkmark-icon selected-state">✓</span>
    </div>
  <% } %>
  <div class="checkbox-overlay">
    <input
      type="checkbox"
      name="bundles-option-<%= groupId %>"
      class="bundles-checkbox<% if (index === 0) { %> bonus-out-of-stock<% } %>"
      id="checkbox-<%= cardId %>"
      aria-label="<%= label %>"
      <% if (index === 0) { %>disabled<% } %>
    />
    <div class="checkbox-checkmark"></div>
  </div>
  <div class="cmp-bundles-card__product">
    <span><img src="<%= image %>" alt="<%= name %>"></span>
    <p class="cmp-product-name"><%= name %></p> <span><img src="./clientlib-site/images/External-link.webp" alt="external-link" aria-label="external-link"></span>
  </div>
  <div class="selected-items"></div>

  <div class="bonus-card-bottom">
    <div>  <p class="price"><%= price %></p></div>
    <div class="select-cta">
      <button class="actions" aria-label="select-edit-bonus" data-a11y-dialog-show="select-bonus-dialog" data-action="Select"><%= cta %></button>
    </div>
  </div>
</div>

<%- include('../bonus-selection-popup/_bonus-selection-popup.ejs') %>