<div class="cmp-bundles-card">
  <div class="radio-overlay">
    <input
      type="radio"
      name="bundles-option-<%= groupId %>"
      class="bundles-radio"
      id="radio-<%= cardId || 'default' %>"
      aria-label="<%= name %>"
      data-bundle-name="<%= name %>"
      <% if (typeof isJustThisItem !== 'undefined' && isJustThisItem) { %>data-just-this-item="true" checked<% } %>
    />
    <div class="radio-checkmark"></div>
  </div>
  <div>
    <p class="cmp-product-name"><%= name %></p>
  </div>
  <div class="cmp-product-features">
  </div>
  <div class="bundle-card-bottom">
    <div> <p class="price">  <% if (discount) { %>
      <span>SAVE $<%= discount %></span>
    <% } %> <%= price %></p></div>
    <div class="select-cta">
      <button class="actions" aria-label="select-edit-bundle" data-a11y-dialog-show="bundles-info-dialog-<%= cardId || 'default' %>"><%= cta %></button>
    </div>
  </div>
 
</div>
<%- include('../bundles-bonuses-popup/_bundles-bonuses-popup.ejs', { 
  popupId: cardId || 'default', 
  popupTitle: name,
  <!-- bundleItems: bundleItems || [] -->
}) %>