<%
  // Static games array
  const games = [
    { id: "cod", name: "Call of Duty: Modern Warfare", image: "./clientlib-site/images/games/call-of-duty.webp" },
    { id: "alanwake", name: "Alan Wake 2", image: "./clientlib-site/images/games/alan-wake.webp" },
    { id: "cs2", name: "Counter Strike 2", image: "./clientlib-site/images/games/counter-strike.webp" },
    { id: "baldur", name: "Baldur's Gate 3", image: "./clientlib-site/images/games/baldurs-gate.webp" },
    { id: "civ6", name: "Fortnite", image: "./clientlib-site/images/games/fortnite.webp" },
    { id: "fortnite", name: "Red Redemption 2", image: "./clientlib-site/images/games/red-redemption.webp" }
  ];
%>

<div class="filter-bar container-xl  <%= isOpen ? 'open' : '' %>"> 
    <div class="filters-container container">
        <button class="filter-button btn btn-link" aria-label="Filter dropdown">
            Filter 
         <span class="icon icon--arrow-bottom" id="filter-icon"></span>
        </button>
        <form class="filters">
            <div class="selected-games">
                <p class="selected-games-text">Selected game:</p>
                <div class="collapsed-view"> Test
                </div>
                <div class="expanded-view">
                    <% games.forEach(game => {
                        const isChecked = selectedGames.some(g => g.id === game.id); 
                    %>
                        <%- include('../game-card/_game-card.ejs', { game, isChecked}) %>
                    <% }); %>
                </div>
            </div>
            <div class="vertical-divider"></div>
            <div class="budget" id="budget">
                <div class="your-budget">Your budget: 
                    <div>
                        <span class="confirmed-budget-min-value">$<%= minBudget%></span>
                        <span>-</span>
                        <span class="confirmed-budget-max-value">$<%= maxBudget%></span>
                    </div>
                </div>
                <div class="budget-center">
                    <label for="budget-min-value" class="sr-only">Min Value</label>
                    <input class="budget-value" id="budget-min-value"></input>
                    <div class="budget-separator" aria-hidden="true">to</div>
                    <label for="budget-max-value" class="sr-only">Max Value</label>
                    <input class="budget-value" id="budget-max-value"></input>
                    <div class="budget-range-wrapper">
                        <div id="budget-range" class="budget-range-slider" data-start="[<%= minBudget %>, <%= maxBudget %>]" data-min="500" data-max="5000" data-step="100"></div>
                        <div class="range-labels" aria-hidden="true">
                            <span>$500</span>
                            <span>$5,000</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="min-budget" id="min-budget" value="" />
                <input type="hidden" name="max-budget" id="max-budget" value="" />
                <div class="budget-actions">
                    <button type="reset" class="reset-button btn btn-link">Reset</button>
                    <button type="submit" class="btn btn-link">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>
