<section
   class="dialog-container dialog--boxed cmp-bundles-dialog"
   data-a11y-dialog="bundles-info-dialog-<%= popupId || 'default' %>"
   id="bundles-info-dialog-<%= popupId || 'default' %>"
   aria-hidden="true"
   >
   <div class="dialog-overlay" data-a11y-dialog-hide="bundles-info-dialog-<%= popupId || 'default' %>"></div>
   <div class="dialog-content cmp-custom__popup-bundles" role="dialog" aria-modal="true">
      <button
         class="cmp-close-popup"
         type="button"
         data-a11y-dialog-hide="bundles-info-dialog-<%= popupId || 'default' %>"
         aria-label="Close dialog"
         > <span class="icon icon--popup-close"></span></button>
      <div class="fps-content">
         <h2 id="bundle-title<%= popupId || 'default' %>" class="dialog-title"><%= popupTitle || 'Bundle Information' %></h2>
         <div class="dialog-section">
            <div>
               <p>
                  What's Inside?
               </p>
               
               <!-- Below code is just for the design refrence for the another popup. Do not remove -->
               <!-- <div class="cmp-custom__popup-content">
                  <div class="cmp-custom__popup-content__item"> <img alt="ROG Herculx XH01 Graphics Card Holder" src="./clientlib-site/images/graphic-card-holder.webp"> <span> ROG Herculx XH01 Graphics Card Holder</span></div>
               </div>
               <div class="cmp-custom__popup-content">
                  <div class="cmp-custom__popup-content__item"> <img alt="Microsoft 365: 1-Year Subscription" src="./clientlib-site/images/yearly-subscription.webp"> <span> Microsoft 365: 1-Year Subscription</span></div>
               </div> -->

               <!-- Above code is just for the design refrence for the another popup. Do not remove -->

               <div class="cmp-custom__popup-content">
                <div class="cmp-custom__popup-content__item"> <img alt="ROG Herculx XH01 Graphics Card Holder" src="./clientlib-site/images/graphic-card-holder.webp"> <span> ROG Herculx XH01 Graphics Card Holder</span></div>
             </div>
             <div class="cmp-custom__popup-content">
                <div class="cmp-custom__popup-content__item"> <img alt="Microsoft 365: 1-Year Subscription" src="./clientlib-site/images/yearly-subscription.webp"> <span> Microsoft 365: 1-Year Subscription</span></div>
                <div class="cmp-custom__popup-reminder">
                   <p>Reminder</p>
                   <p>Lorem Impsum</p>
                </div>
             </div>
               <div class="cmp-custom__popup-content">
                  <div class="cmp-custom__popup-content__item">
                     <div><img alt="ASUS SmartO Mouse MD200 Silent Plus" src="./clientlib-site/images/mouse.webp"></div>
                     <div class="cmp-custom__popup-content__item__text">
                        <p>ASUS SmartO Mouse MD200 Silent Plus</p>
                        <div class="option-heading">Choose a color</div>
                        <div class="cmp-custom__popup-content__item__text__options">
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="colour"
                                id="Grey"
                                aria-label="choose colour"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span class="cmp-product-colour"> <img src="./clientlib-site/images/grey-colour.webp" alt="mouse-colour"></span><span>Grey</span></p>
                            </div>
                          </div>
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="colour"
                                id="Black"
                                aria-label="choose colour"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span class="cmp-product-colour"> <img src="./clientlib-site/images/black-colour.webp" alt="mouse-colour"></span><span>Black</span></p>
                            </div>
                          </div>
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="colour"
                                id="Red"
                                aria-label="choose colour"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span class="cmp-product-colour"> <img src="./clientlib-site/images/red-colour.webp" alt="mouse-colour"></span><span>Red</span></p>
                            </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="cmp-custom__popup-content">
                  <div class="cmp-custom__popup-content__item">
                     <div><img alt="ASUS ROG Phone II suitcase" src="./clientlib-site/images/suitcase.webp"></div>
                     <div>
                        <p>ASUS ROG Phone II suitcase</p>
                        <div class="option-heading">Choose a spec</div>
                        <div class="cmp-custom__popup-content__item__text__options">
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="spec"
                                id="spec1"
                                aria-label="choose spec"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span>20 inches, 56cm * 23cm * 36cm, 36L</span></p>
                            </div>
                          </div>
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="spec"
                                id="spec2"  
                                aria-label="choose spec"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span>22 inches, 61cm * 25cm * 39cm, 42L</span></p>
                            </div>
                          </div>
                          <div class="cmp-bundles-options-radio">
                            <div class="radio-overlay">
                              <input
                                type="radio"
                                class="bundles-radio"
                                name="spec"
                                id="spec3"
                                aria-label="choose spec"
                              />
                              <div class="radio-checkmark"></div>
                            </div>
                            <div>
                              <p class="cmp-product-name"><span>24 inches, 66cm * 26cm * 43cm, 65L</span></p>
                            </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div  class="confirm-cta"> <button  role="button"  data-a11y-dialog-hide="bundles-info-dialog-<%= popupId || 'default' %>"
                aria-label="Close dialog"> Confirm</button></div>
            </div>
         </div>
      </div>
   </div>
</section>