<div class="cmp-customization-card" data-a11y-dialog-show="specifications-info-dialog">
  <div class="radio-overlay">
    <input
      type="radio"
      name="customization-option-<%= specId %>"
      class="customization-radio" aria-label="<%= name %>"
    />
    <div class="radio-checkmark"></div>
  </div>
  <div class="cmp-product-card__name">
   <p  class="cmp-product-name"> <% if(icon){ %>
    <span class=" <%= icon %>"></span>
    <% } %><span><%= name %></p></span>
  </div>
  <div>
  
    <p class="price"><%= price %></p>
  </div>
  <%- include('../customization-dialogs/_specifiations-info.ejs' , {specificationId: specId}) %>
</div>