<div class="product-preview__overview-section">
  <div class="availability-tags">
    <span class="tag in-stock">In Stock</span>
    <span class="vertical-divider" aria-hidden="true"></span>
    <span class="tag new">New</span>
    <span class="vertical-divider" aria-hidden="true"></span>
    <span class="tag deal">Deal</span>
  </div>

  <div id="preview-product-title">
    <h2 class="product-title"><%= name %></h2>
    <p class="product-model">Model: <%= model %></p>
  </div>

  <div
    class="cmp-product-card__stars"
  >
    <div
      data-bv-show="inline_rating"
      data-bv-product-id="ASUS_M1_25392_P"
      data-bv-redirect-url="pdp.html#product-reviews"
    ></div>
  </div>

  <div class="game-title">
    <span><%= benchmarkGame %></span>
    <a class="badge" href="#game-fps" aria-label="Jump to game FPS section">FPS: <%= fps %></a>
  </div>

  <div class="compare-product">
    <input
      type="checkbox"
      class="compare-checkbox"
      id="preview-compare-checkbox-<%= id %>"
      data-add-to-compare
      data-id="<%= id %>"
      data-name="<%= name %>"
      data-model="<%= model %>"
      data-image="<%= image %>"
      data-price="<%= price %>"
      data-stars="<%= stars %>"
      data-fps="<%= fps %>"
      data-pdp-url="#"
      data-sku="<%= model %>"
      aria-label="Compare <%= name %> with other products"
    />
    <label for="preview-compare-checkbox-<%= id %>">Compare</label>
  </div>
  <div class="divider"></div>
  <ul class="features">
    <li>
      <strong>Cutting-Edge GPUs</strong><br />
      <span>NVIDIA Blackwell Architecture</span>
    </li>
    <li>
      <strong>AI-Enhanced Graphics and Performance</strong><br />
      <span>NVIDIA DLSS 4 with Multi Frame Generation</span>
    </li>
    <li>
      <strong>Game-Winning Responsiveness</strong><br />
      <span>NVIDIA Reflex 2 with Frame Warp</span>
    </li>
  </ul>
  <div class="divider"></div>
  <div class="spec-summary">
    <h3 class="spec-summary__heading">Spec Summary</h3>
    <ul class="spec-summary__list list-style-square">
      <li>Windows 11 Pro</li>
      <li>Intel® Core™ Ultra 7 Processor 265F</li>
      <li>NVIDIA® GeForce RTX™ 5070 PRIME</li>
      <li>Liquid Cooling</li>
      <li>32GB DDR5 4800MHz RAM</li>
      <li>1TB M.2 2280 NVMe™ PCIe® 4.0 SSD</li>
      <li>High Definition 7.1 Channel Audio</li>
    </ul>
  </div>
</div>
