<div class="cmp-customizations customization-mobile-sidenav" id="customize-product">
  <div class="container">
    <div class="mobile-button" data-a11y-dialog-show="customization-sidenav-dialog"><img src="./clientlib-site/images/customize-sidenav.webp" alt="sidenav-icon"></div>
    <div class="cmp-customizations__content">
      <div class="layout-grid layout-grid--gap-2">
        <div class="layout-grid__col layout-grid__col--span-4 layout-grid__col--md-span-12">
          <div class="cmp-customization__sidebar">
            <div class="section-heading">
              <h2>Customization</h2>
            </div>
            <div class="customizations-actions">
              <button id="reset-customization" class="btn btn-link" disabled>
                Reset
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path
                    d="M9.16667 17.0235C7.60361 16.8205 6.31007 16.1319 5.28604 14.9579C4.26201 13.7838 3.75 12.4082 3.75 10.8313C3.75 9.98403 3.91722 9.17236 4.25167 8.39625C4.58611 7.62 5.05458 6.93806 5.65708 6.35042L6.54813 7.24146C6.03632 7.7084 5.65035 8.25035 5.39021 8.86729C5.13007 9.48424 5 10.1389 5 10.8313C5 12.0535 5.39021 13.1307 6.17063 14.0629C6.95104 14.995 7.94972 15.5652 9.16667 15.7735V17.0235ZM10.8333 17.0396V15.7896C12.0364 15.546 13.0316 14.9629 13.819 14.0404C14.6063 13.1179 15 12.0482 15 10.8313C15 9.44236 14.5139 8.26181 13.5417 7.28958C12.5694 6.31736 11.3889 5.83125 10 5.83125H9.70521L10.8302 6.95625L9.95188 7.83438L7.32375 5.20625L9.95188 2.57812L10.8302 3.45625L9.70521 4.58125H10C11.7436 4.58125 13.2212 5.18701 14.4327 6.39854C15.6442 7.61007 16.25 9.08764 16.25 10.8313C16.25 12.3996 15.7367 13.7682 14.71 14.9371C13.6832 16.1058 12.391 16.8067 10.8333 17.0396Z"
                    fill="currentColor" />
                </svg>
              </button>
            </div>
            <nav class="cmp-customization__sidebar-nav">
              <a class="cmp-customization__sidebar-nav-item active" href="#customize-processor">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.0003 6.66406L24.0003 2.66406H33.3337V6.66406H37.3337V15.9974L33.3337 19.9974L37.3337 23.9974V33.3307H33.3337V37.3307H24.0003L20.0003 33.3307L16.0003 37.3307H6.66699V33.3307H2.66699V23.9974L6.66699 19.9974L2.66699 15.9974V6.66406H6.66699V2.66406H16.0003L20.0003 6.66406ZM6.66699 6.66406V33.3307H33.3337V6.66406H6.66699Z" fill="white"/>
                    <path d="M27.4665 13.9979V25.9979L25.9999 27.4646H13.9999L12.5332 25.9979V13.9979L13.9999 12.5312H25.9999L27.4665 13.9979Z" fill="white"/>
                    </svg>
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Processor</div>
                  <div class="subtitle">Intel Core Ultra 9 285K</div>
                </div>
              </a>
              <a class="cmp-customization__sidebar-nav-item" href="#customize-graphic-card-info">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.0003 2.66406H8.00033L2.66699 7.9974V37.3307V31.9974L8.00033 37.3307H32.0003L37.3337 31.9974V7.9974L32.0003 2.66406ZM4.66699 21.3307C5.40337 21.3307 6.00033 20.7338 6.00033 19.9974C6.00033 19.261 5.40337 18.6641 4.66699 18.6641C3.93062 18.6641 3.33366 19.261 3.33366 19.9974C3.33366 20.7338 3.93062 21.3307 4.66699 21.3307ZM36.667 19.9974C36.667 20.7338 36.0701 21.3307 35.3337 21.3307C34.5973 21.3307 34.0003 20.7338 34.0003 19.9974C34.0003 19.261 34.5973 18.6641 35.3337 18.6641C36.0701 18.6641 36.667 19.261 36.667 19.9974ZM18.667 4.66406C18.667 5.40044 19.2639 5.9974 20.0003 5.9974C20.7367 5.9974 21.3337 5.40044 21.3337 4.66406C21.3337 3.92769 20.7367 3.33073 20.0003 3.33073C19.2639 3.33073 18.667 3.92769 18.667 4.66406ZM20.0003 33.9974C20.7367 33.9974 21.3337 34.5943 21.3337 35.3307C21.3337 36.0671 20.7367 36.6641 20.0003 36.6641C19.2639 36.6641 18.667 36.0671 18.667 35.3307C18.667 34.5943 19.2639 33.9974 20.0003 33.9974ZM33.3337 6.66406H6.66699V33.3307H33.3337V6.66406Z" fill="currentColor"/>
                    <mask id="mask0_2643_2792" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="12" width="16" height="16">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9999 12.5312H25.9999L27.4665 13.9979V25.9979L25.9999 27.4646H13.9999L12.5332 25.9979V13.9979L13.9999 12.5312Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_2643_2792)">
                    <path d="M25.9993 12.5297L27.1306 11.3983L26.6621 10.9297H25.9993V12.5297ZM13.9993 12.5297V10.9297H13.3365L12.8679 11.3983L13.9993 12.5297ZM27.466 13.9964H29.0659V13.3336L28.5973 12.865L27.466 13.9964ZM27.466 25.9964L28.5973 27.1277L29.0659 26.6592V25.9964H27.466ZM25.9993 27.463V29.063H26.6621L27.1306 28.5944L25.9993 27.463ZM13.9993 27.463L12.8679 28.5944L13.3365 29.063H13.9993V27.463ZM12.5326 25.9964H10.9326V26.6592L11.4012 27.1277L12.5326 25.9964ZM12.5326 13.9964L11.4012 12.865L10.9326 13.3336V13.9964H12.5326ZM25.9993 10.9297H13.9993V14.1297H25.9993V10.9297ZM28.5973 12.865L27.1306 11.3983L24.8679 13.661L26.3346 15.1277L28.5973 12.865ZM29.0659 25.9964V13.9964H25.8659V25.9964H29.0659ZM27.1306 28.5944L28.5973 27.1277L26.3346 24.865L24.8679 26.3317L27.1306 28.5944ZM13.9993 29.063H25.9993V25.863H13.9993V29.063ZM11.4012 27.1277L12.8679 28.5944L15.1306 26.3317L13.664 24.865L11.4012 27.1277ZM10.9326 13.9964V25.9964H14.1326V13.9964H10.9326ZM12.8679 11.3983L11.4012 12.865L13.664 15.1277L15.1306 13.661L12.8679 11.3983Z" fill="currentColor"/>
                    </g>
                    </svg>
                    
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Graphic Card</div>
                  <div class="subtitle">RTX 5080 PRIME 16GB GDDR7</div>
                </div>
              </a>
              <a class="cmp-customization__sidebar-nav-item" href="#customize-memory-info">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6407 5.33594L34.6663 14.3615V34.6693H5.33301V5.33594H25.6407ZM31.9586 18.4231H8.0407V31.9615H31.9586V18.4231ZM8.0407 10.0744H11.651V13.6846H8.0407V10.0744ZM17.0663 10.0744H13.4561V13.6846H17.0663V10.0744ZM18.8715 10.0744H22.4817V13.6846H18.8715V10.0744Z" fill="currentColor"/>
                    <path d="M14.5839 21.125H10.748V29.2481H14.5839V21.125Z" fill="currentColor"/>
                    <path d="M21.9179 21.125H18.082V29.2481H21.9179V21.125Z" fill="currentColor"/>
                    <path d="M29.2509 21.125H25.415V29.2481H29.2509V21.125Z" fill="currentColor"/>
                    </svg>
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Memory</div>
                  <div class="subtitle">16GB DDR5 6000MT/s</div>
                </div>
              </a>
              <a class="cmp-customization__sidebar-nav-item" href="#customize-storage-info">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.8003 27.8672H2.66699V30.5339H24.8003V27.8672Z" fill="currentColor"/>
                    <path d="M37.3328 27.8672H26.1328V30.5339H37.3328V27.8672Z" fill="currentColor"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.3337 9.46875H2.66699V26.5354H37.3337V9.46875ZM13.867 12.6688H8.00033V23.3354H13.867V12.6688ZM17.067 12.6688H22.9337V23.3354H17.067V12.6688ZM32.0003 12.6688H26.1337V23.3354H32.0003V12.6688Z" fill="currentColor"/>
                    </svg>
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Storage</div>
                  <div class="subtitle">1TB PCIe 4.0 M.2 SSD</div>
                </div>
              </a>
              <a class="cmp-customization__sidebar-nav-item" href="#customize-processor-cooler-info">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_2643_3665" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="2" width="36" height="36">
                    <path d="M37.3337 2.66406H2.66699V37.3307H37.3337V2.66406Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_2643_3665)">
                    <path d="M20.9683 19.9787C25.6571 20.636 29.1045 24.8165 28.6291 29.5114C28.1509 34.226 24.0655 37.3747 20.0127 37.3303V20.9021C19.637 23.3501 18.5129 25.3615 16.5486 26.8693C14.5843 28.3771 12.345 28.9655 9.90344 28.5447C5.15644 27.7237 2.54037 23.4732 2.66856 20.0073H19.0375C18.3235 19.8023 17.5583 19.6604 16.8553 19.3657C16.1281 19.0662 15.4407 18.6775 14.8093 18.2088C14.1831 17.7309 13.6222 17.1733 13.1407 16.5501C12.6663 15.9376 12.2763 15.264 11.9811 14.5476C11.6828 13.8197 11.4838 13.0551 11.3895 12.2741C11.2978 11.4914 11.3154 10.6997 11.4417 9.92176C12.2178 5.34908 16.2794 2.58971 19.9822 2.66559V19.0455C20.6419 14.2264 24.959 10.8511 29.5974 11.3724C34.3593 11.9085 37.4091 16.0851 37.3274 19.9787H20.9683Z" fill="currentColor"/>
                    </g>
                    </svg>
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Processor Cooler</div>
                  <div class="subtitle">Liquid Cooler</div>
                </div>
              </a>
              <a class="cmp-customization__sidebar-nav-item" href="#customize-operating-system-info">
                <div class="cmp-customization__sidebar-nav-item-icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.33301 12.3308C5.33301 8.46764 8.46471 5.33594 12.3279 5.33594C16.191 5.33594 19.3227 8.46764 19.3227 12.3308V19.3257H12.3279C8.46471 19.3257 5.33301 16.1939 5.33301 12.3308Z" fill="#999999"/>
                    <path d="M20.6777 12.3308C20.6777 8.46764 23.8095 5.33594 27.6725 5.33594C31.5357 5.33594 34.6675 8.46764 34.6675 12.3308C34.6675 16.1939 31.5357 19.3257 27.6725 19.3257H20.6777V12.3308Z" fill="#999999"/>
                    <path d="M5.33301 27.6667C5.33301 23.8036 8.46471 20.6719 12.3279 20.6719H19.3227V27.6667C19.3227 31.5299 16.191 34.6616 12.3279 34.6616C8.46471 34.6616 5.33301 31.5299 5.33301 27.6667Z" fill="#999999"/>
                    <path d="M20.6777 20.6719H27.6725C31.5357 20.6719 34.6675 23.8036 34.6675 27.6667C34.6675 31.5299 31.5357 34.6616 27.6725 34.6616C23.8095 34.6616 20.6777 31.5299 20.6777 27.6667V20.6719Z" fill="#999999"/>
                    </svg>
                    
                </div>
                <div class="cmp-customization__sidebar-nav-item-content">
                  <div class="title">Operating system</div>
                  <div class="subtitle">Windows 11 Home</div>
                </div>
              </a>
            </nav>
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-8 layout-grid__col--md-span-12">
          <div><%- include('../pdp-notifications/_pdp-notifications.ejs') %></div>
          <div class="cmp-customization__component" id="customize-processor">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Processor</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="processor-info-dialog">
                  Choosing a processor
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
            <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: '13th Gen Intel® Core™ i5-13400F Processor' , price: '+ $350.00' , specId: 'processor1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: '13th Gen Intel® Core™ i7-13400F Processor' , price: '+ $350.00' , specId: 'processor2'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: 'Intel® Core™ i5-14400F Processor' , price: '+ $350.00' , specId: 'processor3'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: '13th Gen Intel® Core™ i7-13400F Processor' , price: '+ $350.00' , specId: 'processor4'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: '13th Gen Intel® Core™ i7-13400F Processor' , price: '+ $350.00' , specId: 'processor5'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor' , icon:'icon icon--info-white-filled',
                name: 'Intel Core Ultra 5 225F' , price: '+ $350.00' , specId: 'processor6'}) %>
            </div>
          </div>
          <div class="cmp-customization__component" id="customize-graphic-card-info">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Graphic Card</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="graphic-card-info-dialog">
                  Choosing a graphic card
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
              <%- include('../customization-card/_customization-card.ejs', { groupId: 'graphic-card' , icon:'',
                name: 'NVIDIA® GeForce RTX™ 3050 Desktop GPU' , price: '+ $350.00' , specId: 'graphic-card1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'graphic-card' , icon:'',
                name: 'NVIDIA® GeForce RTX™4060 DUAL Desktop GPU' , price: '+ $350.00' , specId: 'graphic-card2'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'graphic-card' ,icon:'',
                name: 'NVIDIA® GeForce RTX™4060 DUAL Desktop GPUv' , price: '+ $350.00' , specId: 'graphic-card3'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'graphic-card' ,icon:'',
                name: 'NVIDIA® GeForce RTX™4060TI DUAL 8GB GDDR6 : 3xDP, 1x HDMI (up to 353 AI TOPs)' , price: ''
                , specId: 'graphic-card4'}) %>
            </div>
          </div>
          <div class="cmp-customization__component" id="customize-memory-info">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Memory</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="memory-info-dialog">
                  Choosing a memory
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
              <%- include('../customization-card/_customization-card.ejs', { groupId: 'memory' , icon:'',
                name: '16GB Dual Channel DDR5 (2x 8GB - Green) 5200 MT/s' , price: '+ $350.00' , specId: 'memory1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'memory' , icon:'',
                name: '32GB Dual Channel DDR5 (2x 16GB - Green) 5200 MT/s' , price: '+ $350.00' , specId: 'memory2'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'memory' , icon:'',
                name: '32GB Dual Channel DDR5 XMP (2x 16GB - Black) 6400 MT/s' , price: '+ $350.00' , specId: 'memory3'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'memory' , icon:'',
                name: '64GB Dual Channel DDR5 (2x 32GB - Green) 5200 MT/s' , price: '+ $350.00' , specId: 'memory4'}) %>

            </div>
          </div>
          <div class="cmp-customization__component" id="customize-storage-info">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Storage</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="storage-info-dialog">
                  Choosing a storage
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
              <%- include('../customization-card/_customization-card.ejs', { groupId: 'storage' , icon:'',
                name: '1TB NVMe M.2 PCIe SSD' , price: '+ $350.00' , specId: 'storage1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'storage' , icon:'',
                name: '2TB NVMe M.2 PCIe SSD' , price: '+ $350.00' , specId: 'storage2'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'storage' , icon:'',
                name: '4TB NVMe M.2 PCIe Gen4 SSD' , price: '+ $350.00' , specId: 'storage3'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'storage' , icon:'',
                name: '1TB NVMe M.2 PCIe SSD (Boot) + 2TB NVMe M.2 PCIe SSD (Storage)' , price: '' , specId: 'storage4'}) %>
            </div>
          </div>
          <div class="cmp-customization__component" id="customize-processor-cooler-info">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Processor cooler</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="processor-cooler-info-dialog">
                  Choosing a processor cooler
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor-cooler' , icon:'',
                name: 'Liquid Cooler' , price: '' , specId: 'processor-cooler1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'processor-cooler' , icon:'',
                name: 'Tower Air Cooler' , price: '+ $350.00' , specId: 'processor-cooler2'}) %>
            </div>
          </div>
          <div class="cmp-customization__component" id="customize-operating-system-info">
            <div class="cmp-customization__component-header">
              <h4 class="cmp-customization__component-title">Operating System</h4>
              <div class="cmp-customization__component-actions">
                <button class="btn btn-link" data-a11y-dialog-show="operating-system-info-dialog">
                  Choosing a operating system
                  <span class="icon icon--plus"></span>
                </button>
              </div>
            </div>
            <div class="cmp-customization__component-list">
              <%- include('../customization-card/_customization-card.ejs', { groupId: 'operating-system' , icon:'',
                name: 'Windows 11 Home' , price: '' , specId: 'operating-system1'}) %>

              <%- include('../customization-card/_customization-card.ejs', { groupId: 'operating-system' , icon:'',
                name: 'Windows 11 Pro' , price: '+ $350.00' , specId: 'operating-system2'}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../customization-dialogs/_customization-sidenav.ejs') %>
</div>

<%- include('../customization-dialogs/_processor-info.ejs') %>
<%- include('../customization-dialogs/_storage-info.ejs') %>
<%- include('../customization-dialogs/_memory-info.ejs') %>
<%- include('../customization-dialogs/_processor-cooler-info.ejs') %>
<%- include('../customization-dialogs/_operating-system-info.ejs') %>
<%- include('../customization-dialogs/_graphic-card-info.ejs') %>


