<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <h2 class='section-heading'>Typography</h2>

    <div class='flex gap-4 flex-col'>
      <h1>Heading 1 / Display 1</h1>
      <h2>Heading 2 / Display 2</h2>
      <h3>Heading 3 / Display 3</h3>
      <h4>Heading 4 / Display 4</h4>
      <h5>Heading 5 / Display 5</h5>
      <h6>Heading 6 / Display 6</h6>
      <p class='text-display7'>Display 7</p>
      <p class='text-bolder'>Body 01 / Bold and Large emphasized text</p>
      <strong>Body 02 / Bold emphasized text</strong>
      <p>Body 03 / Regular paragraph text</p>
      <small> Body 04 / Small paragraph text</small>
      <small class='text-x-small'>Body 05 / Extra Small paragraph text</small>
      <h3 class='text-h2'>Looks like h2 but rendered as h3</h3>
    </div>
  </div>
</section>

<section class='bg-primary-200 section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <h2 class='section-heading'>Button Component Example:</h2>
    <div class='flex gap-4 flex-wrap items-center'>
      <button class='btn'>Button (Default size - md)</button>
      <button class='btn btn-sm'>Small Button</button>
      <button class='btn' disabled>Disabled Button</button>
      <button class='btn'>
        With Icon
        <span
          class='icon icon--arrow-right'
          aria-hidden='true'
        ></span>
      </button>
      <button class='btn btn-link'>
        As Link
        <span
          class='icon icon--arrow-right'
          aria-hidden='true'
        ></span>
      </button>
      <button class='btn btn-link btn-sm'>
        As Link Small
        <span
          class='icon icon--arrow-right'
          aria-hidden='true'
        ></span>
      </button>
    </div>
    <div class='flex gap-4 flex-wrap items-center mt-4'>
      <button class='btn btn-outline'>Outline Button</button>
      <button class='btn btn-sm btn-outline'>Small Outline Button</button>
      <button class='btn btn-outline' disabled=''>Disabled Button</button>
      <button class='btn btn-outline'>With Icon</button>
    </div>

    <!-- With light background -->
    <div class='light-mode p-8 mt-12'>
      <h3 class='mb-4'>With Light background</h3>
      <div class='flex gap-4 flex-wrap items-center'>
        <button class='btn'>Button (Default size - md)</button>
        <button class='btn btn-sm'>Small Button</button>
        <button class='btn' disabled>Disabled Button</button>
        <button class='btn'>
          With Icon
          <span
            class='iconify i-material-symbols:play-circle shrink-0 size-5'
            aria-hidden='true'
          ></span>
        </button>
        <button class='btn btn-link'>
          As Link
          <span
            class='iconify i-material-symbols:arrow-forward-ios-rounded shrink-0 size-5'
            aria-hidden='true'
          ></span>
        </button>
        <button class='btn btn-link btn-sm'>
          As Link Small
          <span
            class='iconify i-material-symbols:arrow-forward-ios-rounded shrink-0 size-4'
            aria-hidden='true'
          ></span>
        </button>
      </div>
      <div class='flex gap-4 flex-wrap items-center mt-4'>
        <button class='btn btn-outline'>Outline Button</button>
        <button class='btn btn-sm btn-outline'>Small Outline Button</button>
        <button class='btn btn-outline' disabled=''>Disabled Button</button>
        <button class='btn btn-outline'>With Icon</button>
      </div>
    </div>
  </div>
</section>

<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
      <div class="section-heading">
        <h2>Grid System</h2>
      </div>

      <h3 class="mb-4 mt-12">AEM Grid - Default Gap</h3>
      <div class="aem-Grid aem-Grid--12 aem-Grid--custom-spacing-default">
        <div class="aem-GridColumn aem-GridColumn--default--2">
          <div class="bg-primary-800 p-4 text-center">2-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--5">
          <div class="bg-primary-800 p-4 text-center">5-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--1">
          <div class="bg-primary-800 p-4 text-center">1-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--9">
          <div class="bg-primary-800 p-4 text-center">9-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--5">
          <div class="bg-primary-800 p-4 text-center">5-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--6">
          <div class="bg-primary-800 p-4 text-center">6-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--1">
          <div class="bg-primary-800 p-4 text-center">1-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--2">
          <div class="bg-primary-800 p-4 text-center">2-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--12">
          <div class="bg-primary-800 p-4 text-center">12-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
      </div>

      <h3 class="mb-4 mt-12">AEM Grid - Dense Gap</h3>
      <div class="aem-Grid aem-Grid--12 aem-Grid--custom-spacing-dense">
        <div class="aem-GridColumn aem-GridColumn--default--2">
          <div class="bg-primary-800 p-4 text-center">2-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--5">
          <div class="bg-primary-800 p-4 text-center">5-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--1">
          <div class="bg-primary-800 p-4 text-center">1-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--9">
          <div class="bg-primary-800 p-4 text-center">9-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--5">
          <div class="bg-primary-800 p-4 text-center">5-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--6">
          <div class="bg-primary-800 p-4 text-center">6-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--1">
          <div class="bg-primary-800 p-4 text-center">1-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--2">
          <div class="bg-primary-800 p-4 text-center">2-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--12">
          <div class="bg-primary-800 p-4 text-center">12-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4">
          <div class="bg-primary-800 p-4 text-center">4-12</div>
        </div>
      </div>

      <h3 class="mb-4 mt-12">Custom Grid</h3>
      <div class="layout-grid layout-grid--cols-12 mb-4 text-primary">
        <div class="layout-grid__col layout-grid__col--span-1 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            1-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-1 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            1-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-2 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            2-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-2 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            2-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-6 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            6-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-4 layout-grid__col--xl-span-6 layout-grid__col--sm-span-12">
          <div class="bg-primary-800 p-4 text-center">
            4-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-4 layout-grid__col--xl-span-6 layout-grid__col--sm-span-12">
          <div class="bg-primary-800 p-4 text-center">
            4-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-4 layout-grid__col--xl-span-6 layout-grid__col--sm-span-12">
          <div class="bg-primary-800 p-4 text-center">
            4-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-3 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            3-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-4 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            4-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-5 layout-grid__col--xl-span-6">
          <div class="bg-primary-800 p-4 text-center">
            5-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-6">
          <div class="bg-primary-800 p-4 text-center">
            6-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-6">
          <div class="bg-primary-800 p-4 text-center">
            6-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-12">
          <div class="bg-primary-800 p-4 text-center">
            12-12
          </div>
        </div>
      </div>

      <h3 class="mb-4 mt-12">Custom Grid - With Custom Gaps</h3>
      <div class="layout-grid layout-grid--cols-12 layout-grid--gap-8 layout-grid--xl-gap-4 text-primary">
        <div class="layout-grid__col layout-grid__col--span-6">
          <div class="bg-primary-800 p-4 text-center">
            6-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-6">
          <div class="bg-primary-800 p-4 text-center">
            6-12
          </div>
        </div>
        <div class="layout-grid__col layout-grid__col--span-12">
          <div class="bg-primary-800 p-4 text-center">
            12-12
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='bg-primary-200 section-with-top-spacing'>
  <div class="container">
    <h2 class='section-heading'>Basic Carousel with Progress Bullets</h2>
  </div>
  <div class="carousel panelcontainer">
    <div
      id="carousel-4e80c7e13c"
      class="cmp-carousel"
      role="group"
      aria-live="polite"
      aria-roledescription="carousel"
      data-cmp-is="carousel"
      data-cmp-delay="5000"
      data-placeholder-text="false"
      data-loop-slides="true"
    >
      <div class="cmp-carousel__content">
        <div id="carousel-4e80c7e13c-item-30704e84cd-tabpanel" class="cmp-carousel__item cmp-carousel__item--active">
          <%- include('../components/hero-banner/_hero-banner.ejs', {
            alignmentClass: 'hero-content--start-center',
            name: 'ROG GT51CA',
            headline: 'Next-Level<br>Gaming',
            image: './clientlib-site/images/hero-banner-1.webp',
            video: './clientlib-site/videos/hero-banner-video-1.mp4',
            ctaLink: './pdp.html',
            ctaName: 'Customize &amp; buy',
            renderAsH1: true,
          }) %>
        </div>
        <div id="carousel-4e80c7e13c-item-645fc67b90-tabpanel" class="cmp-carousel__item">
          <%- include('../components/hero-banner/_hero-banner.ejs', {
            alignmentClass: 'hero-content--center-top',
            name: 'MAKE YOUR',
            headline: 'Dream PC a Reality',
            image: './clientlib-site/images/hero-banner-2.webp',
            video: './clientlib-site/videos/hero-banner-video-1.mp4',
            ctaLink: './pdp.html',
            ctaName: 'Learn more'
          }) %>
        </div>
        <div id="carousel-4e80c7e13c-item-85d21a3332-tabpanel" class="cmp-carousel__item">
          <%- include('../components/hero-banner/_hero-banner.ejs', {
            alignmentClass: 'hero-content--end-center',
            name: 'ASUS GEFORCE RTXTM 40',
            headline: 'Super <br> Resurgence',
            image: './clientlib-site/images/hero-banner-3.webp',
            ctaLink: './pdp.html',
            ctaName: 'Learn more'
          }) %>
        </div>
      </div>

      <!-- Pagination indicatoors -->
      <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display"></ol>

      <!-- Media controls for Video and other media types -->
      <div class="cmp-carousel__media-controls">
        <button class="cmp-carousel__media-control cmp-carousel__media-control--play-pause" type="button" aria-label="Pause">
          <span class="visually-hidden">Pause</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="carousel panelcontainer">
      <div class="section-heading">
        <h2>Carousel with arrows in heading</h2>
        <div class="section-heading__action-buttons cmp-carousel__actions">
          <button class="cmp-carousel__action cmp-carousel__action--previous">
            <span class="icon icon--arrow-left"></span>
          </button>
          <button class="cmp-carousel__action cmp-carousel__action--next">
            <span class="icon icon--arrow-right"></span>
          </button>
        </div>
      </div>
      <div
        id="carousel-4e80c7e131"
        class="cmp-carousel"
        role="group"
        aria-live="polite"
        aria-roledescription="carousel"
        data-cmp-is="carousel"
        data-placeholder-text="false"
        data-slides-per-view="1"
        data-slides-per-view-tablet="2"
        data-slides-per-view-desktop="3"
        data-loop-slides="false"
      >
        <div class="cmp-carousel__content">
          <div id="carousel-4e80c7e131-item-30704e84cd-tabpanel" class="cmp-carousel__item cmp-carousel__item--active">
            <%- include('../components/product-card/_product-card.ejs', {
              id: 'product-1',
              bazaarvoiceProductId: 'ASUS_M1_25392_P',
              name: 'ROG G700 (2025)',
              model: 'G700TF-XS776',
              image: './clientlib-site/images/products/product-1-image-1.webp',
              stars: 4,
              reviews: 100,
              benchmarkGame: 'Call of Duty: Modern Warfare',
              fps: 235,
              fpsDetails: [
                { game: 'COD: MW III', fps1080: '337 FPS', fps1440: '57 FPS' },
                { game: 'Fortnite Chapter 4', fps1080: '346 FPS', fps1440: '45 FPS' },
                { game: 'Red Dead Redemption 2', fps1080: '315 FPS', fps1440: '80 FPS' }
              ],
              specs: [
                'NVIDIA® GeForce RTX™ 5070 PRIME',
                'Windows 11 Pro',
                'Intel® Core™ Ultra 7 Processor 265F',
                '32GB DDR5 4800 MHz RAM'
              ],
              price: 999,
              originalPrice: 1099,
              discount: 100
            }) %>
          </div>
          <div id="carousel-4e80c7e131-item-645fc67b90-tabpanel" class="cmp-carousel__item">
            <%- include('../components/product-card/_product-card.ejs', {
              id: 'product-2',
              bazaarvoiceProductId: 'ASUS_M1_25392_P',
              name: 'ROG G700 (2025)',
              model: 'G700TF-XS776',
              image: './clientlib-site/images/products/product-2-image-1.webp',
              stars: 4,
              reviews: 150,
              benchmarkGame: 'Cyberpunk 2077',
              fps: 180,
              fpsDetails: [
                { game: 'COD: MW III', fps1080: '337 FPS', fps1440: '57 FPS' },
                { game: 'Fortnite Chapter 4', fps1080: '346 FPS', fps1440: '45 FPS' },
                { game: 'Red Dead Redemption 2', fps1080: '315 FPS', fps1440: '80 FPS' }
              ],
              specs: [
                'NVIDIA® GeForce RTX™ 5070 PRIME',
                'Windows 11 Pro',
                'Intel® Core™ Ultra 7 Processor 265F',
                '32GB DDR5 4800 MHz RAM'
              ],
              price: 1099,
              originalPrice: 1199,
              discount: 100
            }) %>
          </div>
          <div id="carousel-4e80c7e131-item-85d21a3332-tabpanel" class="cmp-carousel__item">
            <%- include('../components/product-card/_product-card.ejs', {
              id: 'product-3',
              bazaarvoiceProductId: 'ASUS_M1_25392_P',
              name: 'ROG G700 (2025)',
              model: 'G700TF-XS776',
              image: './clientlib-site/images/products/product-3-image-1.webp',
              stars: 4,
              reviews: 200,
              benchmarkGame: 'Assassin\'s Creed Valhalla',
              fps: 220,
              fpsDetails: [
                { game: 'COD: MW III', fps1080: '337 FPS', fps1440: '57 FPS' },
                { game: 'Fortnite Chapter 4', fps1080: '346 FPS', fps1440: '45 FPS' },
                { game: 'Red Dead Redemption 2', fps1080: '315 FPS', fps1440: '80 FPS' }
              ],
              specs: [
                'NVIDIA® GeForce RTX™ 5070 PRIME',
                'Windows 11 Pro',
                'Intel® Core™ Ultra 7 Processor 265F',
                '32GB DDR5 4800 MHz RAM'
              ],
              price: 1199,
              originalPrice: 1299,
              discount: 100
            }) %>
          </div>
          <div id="carousel-4e80c7e131-item-85d21a3334-tabpanel" class="cmp-carousel__item">
            <%- include('../components/product-card/_product-card.ejs', {
              id: 'product-4',
              bazaarvoiceProductId: 'ASUS_M1_25392_P',
              name: 'ROG G700 (2021)',
              model: 'G700TF-XS776',
              image: './clientlib-site/images/products/product-1-image-1.webp',
              stars: 4,
              reviews: 200,
              benchmarkGame: 'Assassin\'s Creed Valhalla',
              fps: 220,
              fpsDetails: [
                { game: 'COD: MW III', fps1080: '337 FPS', fps1440: '57 FPS' },
                { game: 'Fortnite Chapter 4', fps1080: '346 FPS', fps1440: '45 FPS' },
                { game: 'Red Dead Redemption 2', fps1080: '315 FPS', fps1440: '80 FPS' }
              ],
              specs: [
                'NVIDIA® GeForce RTX™ 5070 PRIME',
                'Windows 11 Pro',
                'Intel® Core™ Ultra 7 Processor 265F',
                '32GB DDR5 4800 MHz RAM'
              ],
              price: 1199,
              originalPrice: 1299,
              discount: 100
            }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='bg-primary-200 section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="carousel panelcontainer">
      <div class="section-heading content-center">
        <h2>Carousel 3D effect</h2>
      </div>
      <div
        id="carousel-4e80c7e13a"
        class="cmp-carousel"
        role="group"
        aria-live="polite"
        aria-roledescription="carousel"
        data-cmp-is="carousel"
        data-cmp-delay="5000"
        data-carousel-effect="creative"
        data-prev-slide-message="Previous advantage"
        data-next-slide-message="Next advantage"
      >
        <div class="cmp-carousel__content">
          <div id="carousel-4e80c7e13a-item-30704e84cd-tabpanel" class="cmp-carousel__item cmp-carousel__item--active">
            <%- include('../components/advantage-card/_advantage-card.ejs', {
              image: './clientlib-site/images/advantage.webp',
              title: 'Ultimate Gaming Experience',
              desc: 'Our systems are engineered to enhance both performance and noise control, guaranteeing stability and an unparalleled gaming experience.',
              video: './clientlib-site/videos/hero-banner-video-1.mp4',
            }) %>
          </div>
          <div id="carousel-4e80c7e13a-item-645fc67b90-tabpanel" class="cmp-carousel__item">
            <%- include('../components/advantage-card/_advantage-card.ejs', {
              image: './clientlib-site/images/advantage.webp',
              title: 'Ultimate Gaming Experience',
              desc: 'Our systems are engineered to enhance both performance and noise control, guaranteeing stability and an unparalleled gaming experience.',
              video: './clientlib-site/videos/hero-banner-video-1.mp4',
            }) %>
          </div>
          <div id="carousel-4e80c7e13a-item-85d21a3332-tabpanel" class="cmp-carousel__item">
            <%- include('../components/advantage-card/_advantage-card.ejs', {
              image: './clientlib-site/images/advantage.webp',
              title: 'Ultimate Gaming Experience',
              desc: 'Our systems are engineered to enhance both performance and noise control, guaranteeing stability and an unparalleled gaming experience.',
              video: './clientlib-site/videos/hero-banner-video-1.mp4',
            }) %>
          </div>
          <div id="carousel-4e80c7e13a-item-85d21a3334-tabpanel" class="cmp-carousel__item">
            <%- include('../components/advantage-card/_advantage-card.ejs', {
              image: './clientlib-site/images/advantage.webp',
              title: 'Ultimate Gaming Experience',
              desc: 'Our systems are engineered to enhance both performance and noise control, guaranteeing stability and an unparalleled gaming experience.',
              video: './clientlib-site/videos/hero-banner-video-1.mp4',
            }) %>
          </div>
          <div id="carousel-4e80c7e13a-item-85d21a3335-tabpanel" class="cmp-carousel__item">
            <%- include('../components/advantage-card/_advantage-card.ejs', {
              image: './clientlib-site/images/advantage.webp',
              title: 'Ultimate Gaming Experience',
              desc: 'Our systems are engineered to enhance both performance and noise control, guaranteeing stability and an unparalleled gaming experience.',
              video: './clientlib-site/videos/hero-banner-video-1.mp4',
            }) %>
          </div>
        </div>

        <!-- Carousel actions - Previous/Next -->
        <div class="cmp-carousel__actions">
          <button class="cmp-carousel__action cmp-carousel__action--previous">
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="cmp-carousel__action cmp-carousel__action--next">
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Pagination indicatoors -->
        <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display"></ol>
      </div>
    </div>
  </div>
</section>

<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="section-heading content-center">
      <h2>Tooltips</h2>
    </div>
    <div class="flex gap-4 flex-wrap">
      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-auto">
        Hover me (auto)
      </button>
      <div id="tooltip-auto" class="tooltip__content" role="tooltip">
        This tooltip positions automatically.
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-x" data-tooltip-position="x">
        Hover me (x: horizontal only)
      </button>
      <div id="tooltip-x" class="tooltip__content" role="tooltip">
        Chooses between left or right.
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-y" data-tooltip-position="y">
        Hover me (y: vertical only)
      </button>
      <div id="tooltip-y" class="tooltip__content" role="tooltip">
        Chooses between top or bottom.
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-top" data-tooltip-position="top">
        Hover me (top)
      </button>
      <div id="tooltip-top" class="tooltip__content" role="tooltip">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius recusandae temporibus delectus obcaecati sequi iusto ipsam cupiditate aliquam odio laboriosam quasi voluptatibus quae enim dolores nulla ipsum, sit quas..
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-bottom" data-tooltip-position="bottom">
        Hover me (bottom)
      </button>
      <div id="tooltip-bottom" class="tooltip__content" role="tooltip">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius recusandae temporibus delectus obcaecati sequi iusto ipsam cupiditate aliquam odio laboriosam quasi voluptatibus quae enim dolores nulla ipsum, sit quas..
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-left" data-tooltip-position="left">
        Hover me (left)
      </button>
      <div id="tooltip-left" class="tooltip__content" role="tooltip">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius recusandae temporibus delectus obcaecati sequi iusto ipsam cupiditate aliquam odio laboriosam quasi voluptatibus quae enim dolores nulla ipsum, sit quas..
      </div>

      <button class="btn" data-tooltip-trigger aria-describedby="tooltip-right" data-tooltip-position="right">
        Hover me (right)
      </button>
      <div id="tooltip-right" class="tooltip__content" role="tooltip">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius recusandae temporibus delectus obcaecati sequi iusto ipsam cupiditate aliquam odio laboriosam quasi voluptatibus quae enim dolores nulla ipsum, sit quas..
      </div>
    </div>
  </div>
</section>

<section class='bg-primary-200 section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="section-heading content-center">
      <h2>Tabs - Basic Style</h2>
    </div>

    <%- include('../components/tabs/_tabs.ejs', { 
      tabsId: 'tabs-basic-tabs',
      activeTabId: 'tabs-basic-tab-1',
      tabs: [ 
        { id: 'tabs-basic-tab-1', title: 'Tab 1', content: 'Content for Tab 1' },
        { id: 'tabs-basic-tab-2', title: 'Tab 2', content: 'Content for Tab 2' },
        { id: 'tabs-basic-tab-3', title: 'Tab 3', content: 'Content for Tab 3' } 
      ]
    }) %>
  </div>
</section>

<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="section-heading content-center">
      <h2>Tabs - Solid Style</h2>
    </div>

    <%- include('../components/tabs/_tabs.ejs', { 
      tabsId: 'tabs-solid-tabs',
      activeTabId: 'tabs-solid-tab-1',
      tabsStyle: 'solid',
      tabs: [ 
        { id: 'tabs-solid-tab-1', title: 'Tab 1', content: 'Content for Tab 1' },
        { id: 'tabs-solid-tab-2', title: 'Tab 2', content: 'Content for Tab 2' },
        { id: 'tabs-solid-tab-3', title: 'Tab 3', content: 'Content for Tab 3' } 
      ]
    }) %>
  </div>
</section>

<section class='bg-primary section-with-top-spacing section-with-bottom-spacing'>
  <div class='container'>
    <div class="section-heading content-center">
      <h2>Accordion</h2>
    </div>

    <%- include('../components/accordion/_accordion.ejs', { 
      accordionId: 'accordion-bb7b39a94e',
      accordionItems: [
        {
          id: 'accordion-bb7b39a94e-item-b09e9d5a74',
          title: 'Item 1',
          content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>',
          expanded: true
        },
        {
          id: 'accordion-bb7b39a94e-item-c6628ce7e9',
          title: 'Item 2',
          content: '<p>Hac habitasse platea dictumst quisque sagittis purus...</p>'
        },
        {
          id: 'accordion-bb7b39a94e-item-8b82f9685f',
          title: 'Item 3',
          content: '<p>Libero id faucibus nisl tincidunt eget nullam non nisi...</p>'
        }
      ]
    }) %>
  </div>
</section>

<section class='light-mode section-with-top-spacing section-with-bottom-spacing'>
  <div class="section-heading content-center">
    <h2>Modals/Popups</h2>
  </div>

  <div class="container">
    <div class="flex gap-4">
      <button class="btn" data-a11y-dialog-show="fps-dialog">Content Modal</button>
      <button class="btn" onclick="openGallery()">Image Gallery Modal</button>
    </div>
  </div>

  <script>
    function openGallery() {
      const images = [
        {
          image: './clientlib-site/images/products/product-1-image-1.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-1.webp',
          title: 'Product 1 - Image 1',
        },
        {
          image: './clientlib-site/images/products/product-1-image-2.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-2.webp',
          title: 'Product 1 - Image 2',
        },
        {
          image: './clientlib-site/images/products/product-1-image-3.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-3.webp',
          title: 'Product 1 - Image 3',
        },
        {
          image: './clientlib-site/images/products/product-1-image-4.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-4.webp',
          title: 'Product 1 - Image 4',
        },
        {
          image: './clientlib-site/images/products/product-1-image-5.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-5.webp',
          title: 'Product 1 - Image 5',
        },
        {
          image: './clientlib-site/images/products/product-1-image-6.webp',
          thumbnail: './clientlib-site/images/products/product-1-thumb-6.webp',
          title: 'Product 1 - Image 6',
        },
      ];
      // Open the gallery at the first image (index 0)
      window.imageGallery.show(images, 0, 'Gallery', 'Gallery Description');
    }
  </script>
</section>


