<%- include('../components/pdp/product-overview/_product-overview.ejs') %>
<div class="cmp-game-fps-sticky-navigation">
   <%- include('../components/pdp/game-fps-sticky-nav/_game-fps-sticky-nav.ejs') %>
</div>
<div class="tabs panelcontainer">
   <div
      id="tabs-basic-tabs"
      class="cmp-tabs"
      data-cmp-is="custom-tabs"
      data-placeholder-text="false"
      data-style="basic"
      >
      <div class="secondary-navigation" id="pdp-secondary-navigation">
         <div class="secondary-navigation-carousel">
            <ol role="tablist" class="cmp-tabs__tablist swiper-wrapper" aria-multiselectable="false">
               <li
                  role="tab"
                  id="product-features-tab"
                  class="cmp-tabs__tab cmp-tabs__tab--active swiper-slide"
                  aria-controls="product-features"
                  tabindex="0"
                  data-cmp-hook-tabs="tab"
                  aria-selected="true"
                  >
                  Features
               </li>
               <li
                  role="tab"
                  id="product-tech-specs-tab"
                  class="cmp-tabs__tab swiper-slide"
                  aria-controls="product-tech-specs"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                  >
                  Tech Specs
               </li>
               <li
                  role="tab"
                  id="product-reviews-tab"
                  class="cmp-tabs__tab swiper-slide"
                  aria-controls="product-reviews"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                  >
                  Reviews
               </li>
               <li
                  role="tab"
                  id="product-customization-tab"
                  class="cmp-tabs__tab swiper-slide"
                  aria-controls="product-customization"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                  >
                  Customization
               </li>
               <li
                  role="tab"
                  id="product-bundles-tab"
                  class="cmp-tabs__tab swiper-slide"
                  aria-controls="product-bundles"
                  tabindex="-1"
                  data-cmp-hook-tabs="tab"
                  aria-selected="false"
                  >
                  Bundles &amp; Bonuses
               </li>
            </ol>
         </div>
         <div class="secondary-navigation-actions">
            <button role="button" class="secondary-navigation-action-prev" aria-label="Previous">
            <span class="icon icon--arrow-left"></span>
            </button>
            <button role="button" class="secondary-navigation-action-next" aria-label="Next">
            <span class="icon icon--arrow-right"></span>
            </button>
         </div>
      </div>
      <div
         id="product-features"
         role="tabpanel"
         aria-labelledby="product-features-tab"
         tabindex="0"
         class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
         data-cmp-hook-tabs="tabpanel"
         aria-hidden="false"
         >
         <%- include('../components/pdp/key-features/_key-features.ejs') %>
      </div>
      <div
         id="product-tech-specs"
         role="tabpanel"
         aria-labelledby="product-tech-specs-tab"
         tabindex="0"
         class="cmp-tabs__tabpanel"
         data-cmp-hook-tabs="tabpanel"
         aria-hidden="true"
         >
         <%- include('../components/pdp/tech-specs/_tech-specs.ejs') %>
      </div>
      <div
         id="product-reviews"
         role="tabpanel"
         aria-labelledby="product-reviews-tab"
         tabindex="0"
         class="cmp-tabs__tabpanel"
         data-cmp-hook-tabs="tabpanel"
         aria-hidden="true"
         >
         <div class="container">
            <div class="section-heading content-center">
               <div data-bv-show="reviews" data-bv-product-id="ASUS_M1_25392_P"></div>
            </div>
         </div>
      </div>
      <div
         id="product-customization"
         role="tabpanel"
         aria-labelledby="product-customization-tab"
         tabindex="0"
         class="cmp-tabs__tabpanel"
         data-cmp-hook-tabs="tabpanel"
         aria-hidden="true"
         >
         <%- include('../components/pdp/customization/_customization.ejs') %>
      </div>
      <div
         id="product-bundles"
         role="tabpanel"
         aria-labelledby="product-bundles-tab"
         tabindex="0"
         class="cmp-tabs__tabpanel"
         data-cmp-hook-tabs="tabpanel"
         aria-hidden="true"
         >
        <%- include('../components/pdp/bundles-bonus/_bundles-bonus.ejs') %>
      </div>
   </div>
</div>
<div class="cmp-related-products-section">
   <div class="container">
      <div class="section-heading">
         <h2>Related Products</h2>
      </div>
      <div class="swiper mySwiper">
         <div class="swiper-wrapper">
            <div class="swiper-slide"> 
              <%- include('../components/pdp/related-products/_related-products.ejs', {
               id: 'product-1',
               name: 'ROG G700 (2025)',
               image: './clientlib-site/images/products/product-3-img-1.webp',
               stars: 4,
               bazaarvoiceProductId: 'ASUS_M1_25392_P',
               reviews: 200,
               price: '1,099',
               originalPrice: '99,999,00',
               discount: '99,999,00',
               cta:'Buy now'
               }) %></div>
            <div class="swiper-slide">
               <%- include('../components/pdp/related-products/_related-products.ejs', {
               id: 'product-2',
               name: 'ASUS Chromebook CX1 (CX1101)',
               image: './clientlib-site/images/products/product-3-img-2.webp',
               stars: 4,
               bazaarvoiceProductId: 'ASUS_M1_25392_P',
               reviews: 200,
               price: '1,199',
               originalPrice: '',
               discount: '',
               cta:'Notify me'
               }) %></div>
            <div class="swiper-slide">
               <%- include('../components/pdp/related-products/_related-products.ejs', {
               id: 'product-3',
               name: 'TUF Gaming Combo K1&M3',
               image: './clientlib-site/images/products/product-3-img-3.webp',
               stars: 4,
               bazaarvoiceProductId: 'ASUS_M1_25392_P',
               reviews: 200,
               price: '1,199',
               originalPrice: '1,299',
               discount: '100',
               cta:'Pre order'
               }) %></div>
            <div class="swiper-slide">
               <%- include('../components/pdp/related-products/_related-products.ejs', {
               id: 'product-4',
               name: 'ASUS Vivobook 16 Laptop (M1605)',
               image: './clientlib-site/images/products/product-3-img-4.webp',
               stars: 5,
               bazaarvoiceProductId: 'ASUS_M1_25392_P',
               reviews: 200,
               price: '1,199',
               originalPrice: '1,299',
               discount: '100',
               cta:'Buy now'
               }) %></div>
            <div class="swiper-slide">
               <%- include('../components/pdp/related-products/_related-products.ejs', {
               id: 'product-5',
               name: 'ROG G700 (2025)',
               model: '',
               image: './clientlib-site/images/products/product-3-img-1.webp',
               stars: 4,
               bazaarvoiceProductId: 'ASUS_M1_25392_P',
               reviews: 200,
               price: '1,199',
               originalPrice: '1,299',
               discount: '100', 
               cta:'Notify me'
               }) %></div>
         </div>
         <button class="swiper-button-next"></button>
         <button  class="swiper-button-prev"></button>
      <div class="pagination-wrapper">
        <div  class="swiper-pagination pagination-bullets"></div>
        <div class="swiper-pagination pagination-fraction"></div>
      </div>
      </div>
    
   </div>
</div>
<div>
   <%- include('../components/pdp/floating-price/_floating-price.ejs') %>
</div>